* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/


.header {
    display: flex;
    justify-content: space-between;
    padding: 3em;
    background-color: #FAEBD7;
}

.page-nav {
    display: block;
}

.page-nav-list {
    display: flex;
    list-style: none;

}

.page-nav-list a {
    text-decoration: none;
    text-transform: uppercase;
    color: #008000;
    font-weight: bolder;
    font-size: 1.3em;
    text-align: center;
    padding: 10px;
}

.logo {
    height: 80px;
}


/*BANNER*/
.banner {
    background-image: url("../images/mainBanner.jpg");
    height: 560px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.banner-title {
    font-size: 57px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
}


/*OFFER*/
.container {
    margin-bottom: 20px;
}

.container-1, .container-2 {
    display: flex;
    justify-content: space-around;
}

.ortodontics {
    background-color: green;

}


.stomatology {
    background-color: red;
    width: 50%;

}

.radiology {
    background-color: darkblue;
    width: 50%;
}

.protetics {
    background-color: darkviolet;
}

.offer-name {
    color: white;
}

.type {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    text-transform: uppercase;
}

/*Calendar*/

.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.make-appointment {
    text-transform: uppercase;
    padding: 30px;
}
